{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="submit" form="form-dashboard" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
					<i class="fa-solid fa-save"></i>
				</button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light">
					<i class="fa-solid fa-reply"></i>
				</a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item">
						<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					</li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header">
				<i class="fa-solid fa-cogs"></i>
				{{ text_edit }}</div>
			<div class="card-body">
				<form id="form-dashboard" action="{{ save }}" method="post" data-oc-toggle="ajax">
					<fieldset>
						<legend>{{ text_general }}</legend>
						<div class="row mb-3 required">
							<label class="col-sm-2 col-form-label">{{ entry_status }}</label>
							<div class="col-sm-10">
								<div class="form-check form-switch form-switch-lg">
									<input type="hidden" name="module_ocn_secret_key_status" value="0"/>
									<input type="checkbox" name="module_ocn_secret_key_status" value="1" id="input-status" class="form-check-input" {% if module_ocn_secret_key_status %} checked {% endif %}/>
								</div>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>{{ text_security }}</legend>
						<div class="row mb-3 required">
							<label for="input-secret-key" class="col-sm-2 col-form-label">
								{{ entry_secret_key }}
							</label>
							<div class="col-sm-10">
								<input
										type="text"
										name="module_ocn_secret_key_secret_key"
										value="{{ module_ocn_secret_key_secret_key }}"
										placeholder="{{ placeholder_secret_key }}"
										id="input-secret-key"
										class="form-control"
								/>
								<div id="error-secret-key" class="invalid-feedback"></div>
							</div>
						</div>
						<div class="row mb-3 required">
							<label for="input-secret-value" class="col-sm-2 col-form-label">
								{{ entry_secret_value }}
							</label>
							<div class="col-sm-10">
								<input
										type="text"
										name="module_ocn_secret_key_secret_value"
										value="{{ module_ocn_secret_key_secret_value }}"
										placeholder="{{ placeholder_secret_value }}"
										id="input-secret-value"
										class="form-control"
								/>
								<div id="error-secret-value" class="invalid-feedback"></div>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>{{ text_info }}</legend>
						<div class="row mb-3">
							<label for="input-message" class="col-sm-2 col-form-label">
								{{ entry_secret_key }}
							</label>
							<div class="col-sm-10">
								<input
										type="text"
										name="module_ocn_secret_key_message"
										value="{{ module_ocn_secret_key_message }}"
										placeholder="{{ placeholder_message }}"
										id="input-message"
										class="form-control"
								/>
								<div id="error-message" class="invalid-feedback"></div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}
